@model IEnumerable<Autoskola_Mia.Models.Tim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Automobil_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autoskola_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kandidat_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zaposlenik_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Automobil_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autoskola_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kandidat_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zaposlenik_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
